body{
    background: burlywood;
    margin: 0;
    min-height: 100vh;
    display: flex;
     flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
}

.title{
    color: #fff;
    text-decoration-style: wavy;
    margin-bottom: 20px;
}

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: #fff;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.search button img{
    width: 16px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    gap: 10px;
}
